

@font-face {
  font-family: 'Bebas';
  src: url('~src/assets/Fonts/BebasNeue-Regular.ttf');
}



/* .pageNoFoundContainer{
  .r1{
    background-color:chocolate;
    h1{
      font-family: 'Bebas', cursive;
      color: white;
      font-size: 10vw;
      margin: 28vh 0px 0px 0px;
      text-align: center;
      position: relative;
      z-index: 100;
    }
  }
  .r2{
    background-color:blueviolet;
    height: 100px;
    .waitWrapper1{
      background-color:chartreuse;
      .wait{
        //padding-right: 10vw;
        //width: 30vw;

      }
    }
    .timeContainer{
      position: relative;
      z-index: 0;
      background-color: rgb(137, 137, 156);
      height: 20%;
      .timerWrapper{
        //width:100vw;
        //text-align: center;
        //display: inline-block;
        font-size: 50vw;
        //position: relative;
        //z-index: 0;
        stroke: 1px black;
        //color:cadetblue;
        font-family: 'Bebas', cursive;
        //padding: 0px;
       // margin:0px;
        //top:0;
      }
    }
    .waitWrapper2{


    }
  }
} */

.pageNoFoundContainer{
  .notFoundWrapper{
    h1{
      font-family: 'Bebas', cursive;
      color: white;
      font-size: 10vw;
      margin: 28vh 0px 0px 0px;
      text-align: center;
      position: relative;
      z-index: 100;
    }
  }
  .waitTimeContainer{
    .waitTimeWrapper{
      .waitTimeWrapper__row{
        position: relative;
        z-index: 10;
        top:-30vw;
        .waitTimeWrapper__row--wait{
          .wait{
            text-align: end;
            font-family: 'Bebas', cursive;
            font-size: 3vw;
            color:cadetblue;
            letter-spacing: 3px;
          }
        }
        .waitTimeWrapper__row--timer{
          h1{
            position: relative;
            left:-2.5vw;
            font-size: 50vw;
            stroke: 1px black;
            font-family: 'Bebas', cursive;
          }
        }
        .waitTimeWrapper__row--redirect{
          h3{
            display: inline-block;
            font-family: 'Bebas', cursive;
            font-size: 3vw;
            color:cadetblue;
            letter-spacing: 3px;
            margin: 0px;
            padding: 0px;
            .spanHome{
              font-size: 5vw;
              color:rgba(0, 0, 255, 0.733);
            }}

            .redirect{
              text-align: end;
            }
        }
      }
    }
  }
}




