.goalContainer__footer{
    background-color: black;
    width: 100%;
    color:azure;
    .author{
        font-size: 15px;
    }
  }

  abbr[title]{
    border-bottom: none !important;
    cursor: pointer !important;
    text-overflow: ellipsis;
    text-decoration: none;
  }

  .footer--text{
    font-size: 15px;
    //margin-top: auto;
    padding: 10px;

  }
  p{
    margin-top: auto;
  }

  .pageDoc{
    padding: 10px;
    cursor:pointer;
  }
