<footer class="container-fluid m-0 p-0 gx-0 goalContainer__footer">
  <div class="row">
    <div class="col-3 m-4 lead author">author: <i>Piotr Troc</i></div>
    <abbr title="https://github.com/piotr-t/cv &#013; branches: &#013; master &#013; newCV">
      <div class="col lead ">source code of page <a href="http://" target="_blank" rel="noopener noreferrer">https://github.com/piotr-t/cv</a></div>
    </abbr>
    <abbr title="">
      <p class="version lead " *ngIf="version">Angular version: {{version.full}}</p>
    </abbr>
  </div>

  </footer>
