<div class="skilsContainer">
  <h1>Technologie jakich używam:</h1>
  <div class="skilsWrapper">
    <p>Dobra znajomość Javascript i Typescript</p>
    <p>Dobra znajomość  HTML</p>
    <p>Dobra znajomosc CSS</p>
    <p>Dobra znajomosć preprocesora SCSS</p>
  </div>
  <div class="cardsWrapper">
    <mat-card class="cards">
      <mat-card-title>Node JS</mat-card-title>
      <img src="assets/nodejs.png" alt="">
    </mat-card>
    <mat-card class="cards">
      <mat-card-title>Angular CLI</mat-card-title>
      <img src="assets/rysunek4.svg" alt="">
    </mat-card>
    <mat-card class="cards">
      <mat-card-title>Bootstrap</mat-card-title>
      <img src="assets/bootstrap-logo.png" alt="">
    </mat-card>
  </div>

</div>

