<div class="skilsContainer container-fluid h-100">
  <div class="row h-25">
    <h1>Technologie jakich używam:</h1>
  </div>
  <div class="row h-50">
      <p class="col-6">Angular CLI v11</p>
      <p class="col-6">Angular Material</p>
      <p class="col-6">Dobra znajomość Javascript i Typescript</p>
      <p class="col-6">Dobra znajomość  HTML</p>
      <p class="col-6">Dobra znajomosc CSS i preprocesora SCSS</p>
      <p class="col-6">Bootstrap</p>
      <p class="col-6">Node Js</p>
      <p class="col-6">Three js</p>
      <p class="col-6">GitHub</p>
  </div>
  <div class="row h-25">
    <div class="cardsWrapper">
      <mat-card class="cards">
        <mat-card-title>Node JS</mat-card-title>
        <img src="assets/nodejs.png" alt="">
      </mat-card>
      <mat-card class="cards">
        <mat-card-title>Angular CLI</mat-card-title>
        <img src="assets/rysunek4.svg" alt="">
      </mat-card>
      <mat-card class="cards">
        <mat-card-title>Bootstrap</mat-card-title>
        <img src="assets/bootstrap-logo.png" alt="">
      </mat-card>
    </div>
  </div>
</div>

