.skilsContainer{
  h1{
    padding:3vw;
  }
  .skilsWrapper{
    margin:10vw;
    p{
      font-size: 2vw;
      color:azure;
    }
  }
  .cardsWrapper{
    display: flex;
    flex-direction: row;
    .cards{
      width: 22vw;
      margin:2vw;
      opacity:.8;
      box-shadow: 5px 5px 5px black;
      background-color:beige;
      img{
        //width: 20vw;
        height: 15vh;
        border: 2px solid black;
        padding-left: 3vw;
        background-color: white;
      }
    }
  }
}






