.article1Container{
  background-color: #424f64;
  .row1{
    .imgWrapper{
      .rys1{
        opacity: .6;
      }
    }
    .listWrapper{
      ul{
        li{
          color: white;
          font-size: max(18px, 3vw);
        }
      }
    }
  }
}






