<div class="article1Container containe-fluid h-100"  [@liAnimation]>
  <div class="row h-100 justify-content-center align-items-center row1">
    <div class="imgWrapper col-1 col-sm-1 col-md-1 col-lg-4">
      <div class="row">
        <img class="rys1" src="assets/rysunek4.svg" alt="Angular logo">
      </div>
    </div>
    <div class="listWrapper col-11 col-sm-11 col-md-11 col-lg-8">
      <div class="row">
        <ul class="col-11">
          <li>Tworzenie rozbudowanych aplikacji</li>
          <li>Implementacja Routingu</li>
          <li>Tworzenie animacji z wykorzystaniem Angulara</li>
        </ul>
      </div>
    </div>
  </div>

</div>
