<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>Project name: Piotr Troc CV</h3>
            <h3>Autor: Piotr Troc</h3>
            <p>Source code: <a href="https://github.com/piotr-t/cv" target="_blank">https://github.com/piotr-t/cv</a></p>
            <p>Angular Version:{{common.VERSION.full}}</p>
        </div>
    </div>
    <div class="row">
        <iframe class="w-100 h-max" src="http://piotrt.smallhost.pl/CV_documentation/" frameborder="0"></iframe>
    </div>
    <div class="row">
        <p>Page of documentation: <a href="http://piotrt.smallhost.pl/CV_documentation/"></a></p>
    </div>
</div>
