.contactConrainer{
  height: 100vh;
  .row1{
    height: 15vh;
    //background-color: blueviolet;
    h1{
      font-size:max(20px, 6vw);
    }
  }
  .row2{
    height: 30vh;
    //background-color: rgb(149, 105, 190);
    .contactWrapper{
      font-size:max(17px, 3vw);
      color: white;
      font-weight: 400;
      font-style: italic;
      //height: 20vh;
    }
  }
  .row3{
    height: 40vh;
    //background-color: rgb(69, 48, 88);
    .formWrapper{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      mat-label{
        font-size: max(1.2vw,12px);
      }

      .input1, .input2{
        width:max(min(200px, 90vw), 40vw);
        .input1__field, .input2__field{
          width:100%;
        }
      }
    }
  }
  .row4{
    height: 15vh;
    button{
      height:max(30px, 30%);
      font-size: max(1.1vw, 10px);
      letter-spacing: 2px;
      width: min(20vw, 100px);
    }
  }
}


  @media screen and (min-width: 276px){
    .contactConrainer{
      .contactWrapper{
      }
  }
  }

  @media screen and (max-width: 276px){
    .contactConrainer{
    .contactWrapper{
      p{
        span{
          font-size:max(12px, 5vw);
        }
    }
    }}
  }
