<div class="contactConrainer">
  <h1>Contact</h1>
  <div class="contactWrapper">
    <p>email: troc.piotr@gmail.com</p>
    <p>tel: 691140253</p>
  </div>
  <div class="formWrapper">
    <form action="">
      <div class="input1">
        <mat-form-field appearance="legacy" class="input1__field">
          <mat-label>Podaj swój email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
      <div class="input2">
        <mat-form-field class="input2__field">
          <mat-label>Twoja wiadomość</mat-label>
          <textarea matInput placeholder="Twoja wiadomość..."></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>


