.row1{
  height: 10%;
  background-color: aqua;
}
.row2{
  height:90%;
  background-color: rgba(54, 173, 134, 0.582);
}
.c1{
  //background-color:red;
}

.caruselArrow{
  span{
    color:black;
  }
}

.carousel-control-prev,
.carousel-control-next{
background-color: rgba(56, 56, 59, 0.274);
height: 20%;
top: 30%;
margin:30px;
border-radius: 10%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  transform: scale(3);
}

 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   transform: scale(3);
  }

  .captionn{
    background-color:rgb(38, 38, 104);
    color: black;
  }


