<div class="skilsContainer container-fluid h-100">

  <div class="row h-25 p-5 justify-content-center">
    <div class="col-12"><h1 class="title">Technologie jakich używam</h1></div>
  </div>

  <div class="row justify-content-center my-3">
      <mat-card *ngFor="let card of cards" class="col-5 m-3">
        <mat-card-header class="">
          <mat-card-title-group class="container p-5">
            <mat-card-title class="">{{card.title}}</mat-card-title>
            <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
            <img class="img--card" *ngIf="card.imgSrc" mat-card-md-image style="height:unset" [src]="'./../../../assets/'+card.imgSrc" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-10 mx-5">
              <ul>
                <li *ngFor="let item of card.list">{{item}}</li>
              </ul>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>

  

