.skilsContainer{
  h1{
   // padding:3vw;
  }
    p{
      font-size:max(12px, 2vw);
      color:azure;
    }
  .cardsWrapper{
    display: flex;
    flex-direction: row;
    height: 90%;
    .cards{
      width: 22vw;
      margin:2vw;
      opacity:.8;
      box-shadow: 5px 5px 5px black;
      background-color:beige;
      img{
        //width: 20vw;
        height: 80%;
        border: 2px solid black;
        padding-left: 3vw;
        background-color: white;
      }
    }
  }
}

ul{
  list-style: square;
}
.title{
  text-align: center;
  font-family: Roboto,Helvetica Neue,sans-serif;
}








