
app-aside{left:85%}

.contrastt{
  background: url("../assets/texture-background.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

.contrastt,.noContrast{
  min-height: 100vh;
}

.cont{
  min-height: 100vh;

  
}


