
@keyframes animationArroww {
  from {opacity:1;
    transform: scale(1);}
  to {opacity: 0;
    transform: scale(1.5);
    }
}


@media screen and (max-width: 276px){
  .articlesContainer{
    .arrowContainer{
      top:60vh;
      right: 10vw;
      .arrowWrapper{
        top:  -50px;
        .matIcon__up{
          margin-top: 50px;
          margin-left: 2.8vw;
        }
      }
    }
}
}

@media screen and (min-width: 276px){
  .arrowContainer{
    bottom: 10%;
    right: 0vw;
    .arrowWrapper{
      //background-color:aqua;
      .matIcon__up{
        margin-left: 2.5vw;
      }
      .matIcon__down{

      }
    }
  }
}



.articlesContainer{
  background-color: brown;
  height: 100vh;
  width: 100vw;
  margin:0px;
  padding: 0px;
  position: absolute;
  top:0px;
  left:0px;
  .arrowContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 101;
    height: 20vh;
    width: 10vw;
    .arrowWrapper{
      width: 10vw;
      height: 20vh;

      .matIcon, .matIcon__up{
        //position: absolute;
        user-select: none;
        font-size:max(30px, 5vw);
        color:rgb(235, 224, 224);
        cursor: pointer;

        opacity:.9;

      }
      .matIcon__up{
        transform: rotate(180deg);
        //transform-origin: 130% 180%;
        text-shadow: -5px -5px 5px rgb(87, 76, 76);
        &:hover{
         // transform-origin: 50% 50%;
          transform: rotate(180deg) scale(1.05);
        }
        &:active{
          //transform-origin: 130% 180%;
          transform: rotate(180deg) scale(1);
        }
      }
      .matIcon__down{
        text-shadow: 5px 5px 5px rgb(87, 76, 76);
        &:active{
          transform: scale(1);
          opacity:1;
          animation-name: animationArroww;
          animation-duration: .5s;
        }
        &:hover{
          transform: scale(1.05);
          color:rgb(231, 220, 220);
          opacity: .8;
        }
      }
    }
  }

}
