@font-face {
  font-family: Gilroy light;
  src: url(../assets/Fonts/Gilroy-FREE/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy bold;
  src: url(../assets/Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf);
}



@keyframes animationArroww {
  from {opacity:1;
    transform: scale(1);}
  to {opacity: 0;
    transform: scale(1.5);
    }
}


@media screen and (max-width: 276px){
  .articlesContainer{
    .arrowContainer{
      top:60vh;
      right: 10vw;
      .arrowWrapper{
        top:  -50px;
        .matIcon__up{
          margin-top: 50px;
          margin-left: 2.8vw;
        }
      }
    }
}
}

@media screen and (min-width: 276px){
  .arrowContainer{
    bottom: 10%;
    right: 0vw;
    .arrowWrapper{
      //background-color:aqua;
      .matIcon__up{
        margin-left: 2.5vw;
      }
      .matIcon__down{

      }
    }
  }
}


.content__text{
  opacity: 1;
  min-height: 50%;
  background-color: beige;
}



.contrastt,.noContrast{

  min-height: 100vh;
  .content{
   // background-color: rgba(0, 0, 0, 0.5);
  }
  .goalContainer__nav{

  }

  .content2{
    background-color: rgba(127, 255, 212, 0.151);
    min-height: 100vh;
  }
  .text{
    background-color: rgba(0, 255, 255, 0.199);
  }
  .goalContainer__header--title,.goalContainer__header--subTitle{
    background-color: beige;
    p{
      font-family: Gilroy bold;
      letter-spacing: 10px;
      text-transform: uppercase;
      text-align: center;
      font-size: 2em;
    }
  }
  .content__text{
    font-family: Gilroy light;
    .content__text--paragraph{
      letter-spacing: 2px;
      text-indent: 20px;
      font-size: 20px;
      //text-align: center;
      //text-decoration-line: line-through;
      line-height: 30px;
      &::first-letter{
        font-family: Gilroy bold;
      }
    }
  }




  .img__src{
    min-height: 50vh;
  }
  .goalContainer__footer{
    background-image: url("https://www.haascnc.com/content/dam/haascnc/community/htec/HTEC_NavBar_image.png/jcr:content/renditions/original.original/image.png");
    width: 100%;
  }
}

.w0{width: 0%;}

.counter{text-align: center; background-color: blueviolet;}


  



.contrastt{
  background-image: url("../assets/texture-background.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}
.noContrast{
  background-color: bisque;
}

.arrowContainer{
  position: sticky;
  right: 0px;
  left: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 101;
  height: 20vh;
  width: 10vw;}


