.b-icon{
    width: 100%;
}

app-arrow-up{
    cursor: pointer;
}

.move{
    color:red
}

.tooltipClass{
    color: red;
    font-size: 12px;
    background-color: aqua;
    text-transform: uppercase;
}

.arrTop{
    font-size: 50px;
    max-width: unset !important;
    background-color: white;
    border-radius:100%;
    text-shadow: 2px 2px 5px rgb(87, 76, 76);
  }

  .icons{
    text-align: center;
  }
