@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.homeContainer{
  height: 100%;
  text-align: center;
  background-image: url('~src/assets/startPhoto.jpg');
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .textWrapper{
    background-color: rgba(152, 182, 182, 0.281);
    h1, h2{
      font-family: 'Bebas Neue', cursive;
      color: rgb(156, 48, 48);
      padding:0px;
      margin: 0px;
      opacity: 1;
    }
    h1{
      font-size: 15vw;
    }
    h2{
      font-size: 10vw;
    }
  }

}
